{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <hr>
    <br> <br>
    {% for hotel in hotels %}
        <div class="row">
            <div class="pt-5 col-1">
                <a href="{% url 'hotel_homepage' hotel.id %}"><img src="{{ hotel.icon.url }}" class="img-fluid"
                                                                   style="width: 100px"/></a>
            </div>
            <div class="col-2">
                <a href="{% url 'hotel_homepage' hotel.id %}">
                    <h3>{{ hotel.name }}</h3></a>
                </a>
                <a target="_blank" href="{{ hotel.location_url }}">
                    <img src="{% static 'pin.png' %}" style="height: 20px" class="img-fluid">
                    {{ hotel.location }}
                </a>
            </div>
            <div class="col-3">
                <img src="{{ hotel.image.url }}" class="img-fluid"/>
            </div>

            <div class="col-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="rating-block">
                                <h4>Average user rating</h4>
                                <span class="d-inline-block" style="height: 45px; width: 120px; background-color: #EB5F7F">
                                     <h2 class="bold" style="position: relative; left: 5px; bottom: 9px">{{ hotel.get_avg_rating }} <small style="color: black">/ 10</small></h2>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-4">
                Price for 2 people
            </div>



            <br>
            <hr style="height:2px;border-width:0;color:gray;background-color:black;width: 100%;">
            <br>
        </div>
        <br>
        {% csrf_token %}

    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}