{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="{{ hotel.icon.url }}" class="img-fluid"/>
            <br><br><br>
            {% if not user.is_staff %}
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#reservationModal">
                    Make Reservation
                </button>

                <!-- Modal -->
                <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog"
                     aria-labelledby="reservationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="reservationModalLabel">Make Reservation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" id="reservation_form" autocomplete="off">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                </div>
                                <br>
                                <button id="submit_review" class="btn btn-primary" style="width:500px ">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="col-7">
            <h1>{{ hotel.name }}</h1>
            <a target="_blank" href="{{ hotel.location_url }}">
                <img src="{% static 'pin.png' %}" style="height: 20px" class="img-fluid">
                {{ hotel.location }}
            </a>
        </div>

        <div class="col-2">
            <form method="post" id="like_form">
                {% csrf_token %}
                <div class="stage">
                    {% if not liked %}
                        <div class="heart"></div>
                    {% endif %}
                    {% if liked %}
                        <div class="heart_unlike"></div>
                    {% endif %}
                </div>
            </form>
        </div>


        <br>

        <div class="row">
            <div class="container" style="margin-left: 50px">
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>

                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ hotel.image.url }}" class="img-fluid"/>
                        </div>
                        {% for image in images %}
                            <div class="item">
                                <img src="{{ image.image.url }}" width="460" height="345">
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <p>{{ hotel.description }}</p>
            </div>
        </div>


        <br>
        <hr style="height:2px;border-width:0;color:gray;background-color:black;width: 100%;">

        <h4>Reviews({{ count }})</h4>
        <div class="pt-2 row" style="position: relative; left: 20px;">
            <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star" style="color: #FF9529"></i>
                                 <i class="fa fa-star" style="color: #FF9529"></i>
                                 <i class="fa fa-star" style="color: #FF9529"></i>
                                 <i class="fa fa-star" style="color: #FF9529"></i>
                                 <i class="fa fa-star" style="color: #FF9529"></i>
                            </span>
            </div>
        </div>
        <br>
        <div class="row" style="background-color: linen">
            {% for review in reviews %}
                <div class="row">
                    <div class="col-1 pt-4">
                        <img src="{% static 'user.png' %}" style="height: 50px" alt="">
                        <strong>{{ review.customer.username }}</strong> <br>
                    </div>
                    <div class="col-8">
                        {{ review.review }}<br>
                        Rating: <b>{{ review.rating }}</b>/10
                    </div>
                    <div class="col-2 ">
                        {{ review.date }}
                    </div>
                    <div class="col-1"></div>
                </div>

                <br><br>
                <hr>
            {% endfor %}
        </div>

        <br>
        {% csrf_token %}

        <script>
            $('.datepicker_1').datepicker({
                format: 'yyyy-mm-dd',
            });
            $('.datepicker_2').datepicker({
                format: 'yyyy-mm-dd',
            });
            $('.js-example-basic-single').select2({
                dropdownParent: $('#reservationModal')
            });

        </script>

        <script>
            $(function () {
                $(".heart").on("click", function (e) {
                    $(this).toggleClass("is-active");

                    e.preventDefault();
                    var url = "/accomodation/like/{{ hotel.id }}"

                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },

                            success: function (response) {
                                console.log(response)
                                location.reload()
                            }
                        }
                    )
                });
            });
        </script>


        <script>
            $(function () {
                $(".heart_unlike").on("click", function (e) {
                    $(this).toggleClass("not-active");

                    e.preventDefault();
                    var url = "/accomodation/unlike/{{ hotel.id }}"

                    $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },

                            success: function (response) {
                                console.log(response)
                                window.location.reload()
                            }
                        }
                    )
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                    $("#reservation_form").submit(function (e) {
                            e.preventDefault();
                            var url = "/accomodation/add_reservation/{{ hotel.id }}"

                            $.ajax({
                                    type: 'POST',
                                    url: url,
                                    data: $("#reservation_form").serializeArray(),

                                    success: function (response) {
                                        console.log(response)
                                        window.location.href = '/accomodation/reservations';
                                    }
                                }
                            )
                            $('#reservationModal{{ reservation.id }}').modal('hide');
                            return false;
                        }
                    )
                }
            )
        </script>

{% endblock %}