{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Antalya</h3>
                                <p>Best for holidays</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            s
            <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Cappadocia</h3>
                                <p>It looks like Mars but it is in Turkey</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Istanbul</h3>
                                <p>The city beats to its own tune, one that is continuous, timeless</p>
                                <a href="#" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- slider_area_end -->


    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Destination</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/italy.jpeg' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Italy <a href={% url 'destinations_view' 'italy' %}>View </a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/germany.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Germany <a href={% url 'destinations_view' 'germany' %}>View </a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/usa.webp' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">USA <a href={% url 'destinations_view' 'USA' %}>View </a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/czech.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Czech Republic <a href={% url 'destinations_view' 'czech' %}>View </a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/china.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">China <a href={% url 'destinations_view' 'china' %}>View </a></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{% static 'img/destination/turkey.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">Turkey <a href={% url 'destinations_view' 'turkey' %}> View </a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->


    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Hotels</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for hotel in pop_hotels %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_place">
                            <div class="thumb">
                                <a href="{% url 'hotel_homepage' hotel.id %}"><img src="{{ hotel.image.url }}"
                                                                                   alt=""></a>
                                <a href="#" class="prise">{{ hotel.standard_price }} TL</a>
                            </div>
                            <div class="place_info">
                                <a href="{% url 'hotel_homepage' hotel.id %}">{{ hotel.name }}</a>
                                <a href="destination_details.html"><h3>{{ hotel.place }}</h3></a>
                                <p>{{ hotel.place }}</p>
                                <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                    {% if hotel.number_of_stars == 5 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if hotel.number_of_stars == 4 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if hotel.number_of_stars == 3 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if hotel.number_of_stars == 2 %}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% if hotel.number_of_stars == 1 %}
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                    <a href="#">({{ hotel.get_reviews_count }} Review)</a>
                                </span>
                                    <div class="days">
                                        <i class="fa fa-clock-o"></i>
                                        <a href="#">5 Days</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="{% url 'customer_hotel' %}">More Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="recent_trip_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Popular Articles</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_trip">
                            <div class="thumb">
                                <a href="{% url 'blog_details' blog.id %}" ><img src="{{ blog.cover_image.url }}" alt=""></a>
                            </div>
                            <div class="info">
                                <div class="date">
                                    <span>{{ blog.date }}</span>
                                </div>
                                <a href="{% url 'blog_details' blog.id %}">
                                    <h3>{{ blog.title }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="travel_variation_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                        </div>
                        <h3>Comfortable Journey</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Luxuries Hotel</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_travel text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                        </div>
                        <h3>Travel Guide</h3>
                        <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}