{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Your Profile</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:black;width: 100%;">
    <div class="row">
        <div id="profile-container">
            {% csrf_token %}
            <img id="profileImage" src="{% static 'user.png' %}"/>
        </div>
        <form action="#" method="post">
            {% csrf_token %}
            <input id="imageUpload" type="file"
                   name="profile_photo" placeholder="Photo" required="" capture>
        </form>
        <div class="col-2">
            <p><h4>{{ user.username }}</h4></p>
        </div>
    </div>

    <script>
        $("#profileImage").click(function (e) {
            $("#imageUpload").click();
        });

        function fasterPreview(uploader) {
            var url = "/accounts/add_pp/"
            $.ajax({
                    type: 'POST',
                    url: url,

                    success: function (response) {
                        console.log(response)
                    }
                }
            )

        }

        $("#imageUpload").change(function () {
            fasterPreview(this);
        });
    </script>
{% endblock %}

